
{{ template "theme/partials/header.html" . }}
<header class="masthead">
  <h3 class="masthead-title"><a href="{{.Site.BaseURL}}">{{.Site.Title}}</a>
    <small><a href="/about">about me</a></small>
	<small><a href="https://blog.gsora.xyz/index.xml">rss</a></small></h3>
</header>
<article class="post">
  <h1 class="post-title">{{ .Title }}</h1>
  <time class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
  {{ .Content }}
</article>

<aside class="related">
  <h3>Related Posts</h3>
  <ul class="related-posts">
         {{ $page_link := .Permalink }}


         {{ range first 4 .Site.Pages }}

          {{ $page := . }}
           {{ if  (ne $page_link $page.Permalink) }}
            <li><a href="{{ $page.Permalink }}">{{ $page.Title }}</a></li>
           {{ end }}
          {{ end }}


              </ul>
  </aside>
    {{ template "_internal/disqus.html" . }}

</ul>

{{ template "theme/partials/footer.html" . }}
